Repository bcgov/onRouteBC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot, @cberg-aot

Badges
  README.md
Owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot

Run apps in containerized dev mode
  backend/dops/Dockerfile
  docker-compose.yml
Owners: @devin-aot, @cberg-aot

Changes for permit number and permit data table
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/permit.service.ts
Owners: @gchauhan-aot, @praju-aot

formatting
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/permit.service.ts
Owners: @gchauhan-aot, @praju-aot

Change in cols names to sync with Backend
  backend/vehicles/src/modules/common/entities/address.entity.ts
  backend/vehicles/src/modules/common/entities/contact.entity.ts
  backend/vehicles/src/modules/common/entities/country.entity.ts
  backend/vehicles/src/modules/common/entities/province.entity.ts
  backend/vehicles/src/modules/company-user-management/pending-idir-users/entities/pending-idir-user.entity.ts
  backend/vehicles/src/modules/company-user-management/pending-users/entities/pending-user.entity.ts
  backend/vehicles/src/modules/company-user-management/users/entities/company-user.entity.ts
  backend/vehicles/src/modules/company-user-management/users/entities/idir.user.entity.ts
  backend/vehicles/src/modules/company-user-management/users/entities/user.entity.ts
  backend/vehicles/src/modules/company-user-management/users/users.service.ts
  backend/vehicles/src/modules/payment/entities/payment-method.entity.ts
  backend/vehicles/src/modules/payment/entities/transaction.entity.ts
  backend/vehicles/src/modules/permit/entities/permit-application-origin.entity.ts
  backend/vehicles/src/modules/permit/entities/permit-approval-source.entity.ts
  backend/vehicles/src/modules/permit/entities/permit-type.entity.ts
  backend/vehicles/src/modules/permit/entities/permit.entity.ts
  backend/vehicles/src/modules/vehicles/power-unit-types/entities/power-unit-type.entity.ts
  backend/vehicles/src/modules/vehicles/power-units/entities/power-unit.entity.ts
  backend/vehicles/src/modules/vehicles/trailer-types/entities/trailer-type.entity.ts
  backend/vehicles/src/modules/vehicles/trailers/entities/trailer.entity.ts
Owners: @gchauhan-aot, @praju-aot

Fix Test Cases
  backend/vehicles/test/unit/users/users.service.spec.ts
Owners: @gchauhan-aot, @praju-aot

Integrate frontend code with payment related backend logic
  frontend/src/features/permits/apiManager/endpoints/endpoints.ts
  frontend/src/features/permits/apiManager/permitsAPI.ts
  frontend/src/features/permits/helpers/payment.ts
  frontend/src/features/permits/hooks/hooks.ts
  frontend/src/features/permits/pages/Payment/PaymentRedirect.tsx
  frontend/src/features/permits/pages/TermOversize/TermOversizePay.tsx
  frontend/src/features/permits/types/payment.d.ts
  frontend/src/features/permits/types/permit.d.ts
Owners: @devin-aot, @krishnan-aot

Refactor void and revoke types, complete void and revoke functionalities on frontend, fix minor issues on backend
  backend/vehicles/src/modules/permit/dto/request/void-permit.dto.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  frontend/src/features/permits/apiManager/permitsAPI.ts
  frontend/src/features/permits/pages/Refund/RefundPage.tsx
  frontend/src/features/permits/pages/Refund/types/RefundFormData.ts
  frontend/src/features/permits/pages/Void/FinishVoid.tsx
  frontend/src/features/permits/pages/Void/VoidPermit.tsx
  frontend/src/features/permits/pages/Void/components/RevokeDialog.tsx
  frontend/src/features/permits/pages/Void/components/VoidPermitForm.tsx
  frontend/src/features/permits/pages/Void/context/VoidPermitContext.ts
  frontend/src/features/permits/pages/Void/helpers/mapper.ts
  frontend/src/features/permits/pages/Void/hooks/useVoidPermit.ts
  frontend/src/features/permits/pages/Void/hooks/useVoidPermitForm.ts
  frontend/src/features/permits/pages/Void/types/VoidPermit.ts
  frontend/src/features/permits/pages/Void/types/VoidPermitDto.ts
  frontend/src/features/permits/types/permit.d.ts
Owners: @gchauhan-aot, @praju-aot, @devin-aot, @krishnan-aot

ORV2-1401 Add Void Template
  backend/dops/src/enum/template-name.enum.ts
  backend/vehicles/src/common/enum/template-name.enum.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  database/mssql/scripts/sampledata/dops.ORBC_DOCUMENT.Table.sql
  database/mssql/scripts/sampledata/dops.ORBC_DOCUMENT_TEMPLATE.Table.sql
Owners: @gchauhan-aot, @praju-aot, @john-fletcher-aot

Void permit bug fixes and pdf generation
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/permit/dto/request/void-permit.dto.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  database/mssql/scripts/versions/v_7_ddl.sql
Owners: @gchauhan-aot, @praju-aot, @john-fletcher-aot

Update documentation
  backend/dops/src/modules/dgen/dgen.controller.ts
Owners: @gchauhan-aot, @praju-aot

.github/CODEOWNERS:

# Default codeowners:
* @john-fletcher-aot @gchauhan-aot @praju-aot @krishnan-aot @devin-aot

# Frontend:
/frontend/** @devin-aot @krishnan-aot

# Backend:
/backend/**  @gchauhan-aot @praju-aot

# Database:
/database/** @gchauhan-aot @john-fletcher-aot

# Devops:
Dockerfile @devin-aot @cberg-aot
docker-compose.yml @devin-aot @cberg-aot
/.github/** @devin-aot @cberg-aot
