Repository bcgov/onRouteBC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @zgong-gov, @erikataot, @cberg-aot

.github/CODEOWNERS:

# Default codeowners:
* @john-fletcher-aot @gchauhan-aot @praju-aot @krishnan-aot @zgong-gov

# Frontend:
/frontend/** @krishnan-aot @erikataot @zgong-gov

# Backend:
/backend/**  @gchauhan-aot @praju-aot

# Database:
/database/** @gchauhan-aot @john-fletcher-aot @praju-aot

# Devops:
Dockerfile @cberg-aot
docker-compose.yml @cberg-aot
/.github/** @cberg-aot

Remove FK constraint on OWNER_USER_GUID and ISSUER_USER_GUID
  database/mssql/scripts/versions/v_4_ddl.sql
Owners: @gchauhan-aot, @john-fletcher-aot, @praju-aot

ORV2-1372 use contains vs default fuzzy filter fn
  frontend/src/features/permits/components/permit-list/BasePermitList.tsx
Owners: @krishnan-aot, @erikataot, @zgong-gov

Remove FK constraint on OWNER_USER_GUID and ISSUER_USER_GUID (#725)
  database/mssql/scripts/versions/v_4_ddl.sql
Owners: @gchauhan-aot, @john-fletcher-aot, @praju-aot

ORV2-1372 Update Active Permit Global Filter Function (#726)
  frontend/src/features/permits/components/permit-list/BasePermitList.tsx
Owners: @krishnan-aot, @erikataot, @zgong-gov

Reorder actions for permit staff on permit list, handle edge case for IDIR uses with no roles (ORV2-1544)
  frontend/src/App.tsx
  frontend/src/common/authentication/OnRouteBCContext.tsx
  frontend/src/common/authentication/util.ts
  frontend/src/features/idir/search/components/IDIRPermitSearchRowActions.tsx
  frontend/src/features/manageProfile/apiManager/hooks.ts
  frontend/src/features/manageProfile/apiManager/manageProfileAPI.tsx
  frontend/src/features/manageProfile/components/dashboard/ManageProfilesDashboard.tsx
  frontend/src/routes/ProtectedRoutes.tsx
  frontend/src/routes/Routes.tsx
  frontend/src/routes/constants.tsx
Owners: @krishnan-aot, @erikataot, @zgong-gov

Revert changes for displaying count on active and expired permit list tabs, fix table column error
  frontend/src/features/idir/search/components/IDIRSearchResults.tsx
  frontend/src/features/permits/components/dashboard/ManageApplicationDashboard.tsx
  frontend/src/features/permits/components/permit-list/ActivePermitList.tsx
  frontend/src/features/permits/components/permit-list/ExpiredPermitList.tsx
Owners: @krishnan-aot, @erikataot, @zgong-gov

Fix code smells
  frontend/src/common/components/table/options/Filter.tsx
  frontend/src/features/permits/pages/TermOversize/TermOversizePay.scss
  frontend/src/features/permits/pages/TermOversize/components/dashboard/SelectPermitType.tsx
  frontend/src/features/permits/pages/TermOversize/components/dashboard/StartApplication.tsx
Owners: @krishnan-aot, @erikataot, @zgong-gov

ORV2-1564 Payment type and Payment Method Ids
  backend/vehicles/src/common/enum/payment-method-type.enum.ts
  backend/vehicles/src/common/enum/payment-type.enum.ts
  backend/vehicles/src/modules/payment/dto/request/create-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/request/update-payment-gateway-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-transaction.dto.ts
  backend/vehicles/src/modules/payment/entities/transaction.entity.ts
  backend/vehicles/src/modules/payment/payment.controller.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/payment/profile/transaction.profile.ts
  database/mssql/scripts/versions/v_7_ddl.sql
Owners: @gchauhan-aot, @praju-aot, @john-fletcher-aot

Formatting and linting
  backend/vehicles/src/common/enum/payment-type.enum.ts
  backend/vehicles/src/modules/payment/dto/request/create-transaction.dto.ts
  backend/vehicles/src/modules/payment/entities/transaction.entity.ts
Owners: @gchauhan-aot, @praju-aot
