Repository bcgov/onRouteBC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot, @cberg-aot

.github/CODEOWNERS:

# Default codeowners:
* @john-fletcher-aot @gchauhan-aot @praju-aot @krishnan-aot @devin-aot

# Frontend:
/frontend/** @krishnan-aot

# Backend:
/backend/**  @gchauhan-aot @praju-aot

# Database:
/database/** @gchauhan-aot @john-fletcher-aot

# Devops:
Dockerfile @cberg-aot
docker-compose.yml @cberg-aot
/.github/** @cberg-aot

.github/workflows/merge-main.yml -> .github/workflows/merge.yml
  .github/workflows/merge.yml
Owners: @cberg-aot

Cleanup, reduce
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Owners: @cberg-aot

Fixed duplicate merge workflow
  .github/workflows/merge-main.yml
Owners: @cberg-aot

Move network init into db not dops
  backend/dops/openshift.deploy.yml
  database/openshift.deploy.yml
Owners: @gchauhan-aot, @praju-aot, @john-fletcher-aot

Cleanup, removal of old graphics
  LICENSE
  README.md
  common/graphics/deploymentUpdate.png
  common/graphics/main-merge.png
  common/graphics/merge-main.png
  common/graphics/mergeNotification.png
  common/graphics/packages.png
  common/graphics/pr-cleanup.png
  common/graphics/pr-close.png
  common/graphics/pr-open.png
  common/graphics/template.png
  common/graphics/unit-tests.png
Owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot

checking in Melanies old readme
  README.md
Owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot

Cleanup, removal of old graphics
  README.md
Owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot

Removed duplicate license info in readme
  README.md
Owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot

Badge cleanup, SonarCloud part TBD
  README.md
Owners: @john-fletcher-aot, @gchauhan-aot, @praju-aot, @krishnan-aot, @devin-aot

Move penetration tests to a weekly cronjob
  .github/workflows/pentests.yml
Owners: @cberg-aot

Remove other references to penetration tests
  .github/workflows/deploy.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Owners: @cberg-aot

Test
  .github/workflows/pentests.yml
  .github/workflows/pr-open.yml
Owners: @cberg-aot

Changes for APP_CREATE_USER, APP_UPDATE_USER
  backend/vehicles/src/modules/company-user-management/company/company.controller.ts
  backend/vehicles/src/modules/company-user-management/company/company.service.ts
  backend/vehicles/src/modules/company-user-management/company/profiles/company.profile.ts
  backend/vehicles/src/modules/company-user-management/pending-idir-users/pending-idir-users.controller.ts
  backend/vehicles/src/modules/company-user-management/pending-idir-users/pending-idir-users.service.ts
  backend/vehicles/src/modules/company-user-management/pending-idir-users/profiles/pending-idir-user.profile.ts
  backend/vehicles/src/modules/company-user-management/pending-users/pending-users.controller.ts
  backend/vehicles/src/modules/company-user-management/pending-users/pending-users.service.ts
  backend/vehicles/src/modules/company-user-management/pending-users/profiles/pending-user.profile.ts
  backend/vehicles/src/modules/company-user-management/users/company-users.controller.ts
  backend/vehicles/src/modules/company-user-management/users/profiles/user.profile.ts
  backend/vehicles/src/modules/company-user-management/users/users.service.ts
  backend/vehicles/src/modules/payment/payment.controller.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/payment/profile/transaction.profile.ts
  backend/vehicles/src/modules/permit/application.controller.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/permit.controller.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  backend/vehicles/src/modules/permit/profile/application.profile.ts
  backend/vehicles/src/modules/permit/profile/permit.profile.ts
  backend/vehicles/src/modules/vehicles/power-units/power-units.controller.ts
  backend/vehicles/src/modules/vehicles/power-units/power-units.service.ts
  backend/vehicles/src/modules/vehicles/power-units/profiles/power-unit.profile.ts
  backend/vehicles/src/modules/vehicles/trailers/profiles/trailer.profile.ts
  backend/vehicles/src/modules/vehicles/trailers/trailers.controller.ts
  backend/vehicles/src/modules/vehicles/trailers/trailers.service.ts
Owners: @gchauhan-aot, @praju-aot

correcting spelling mistake for updatedUserGUID
  backend/vehicles/src/modules/common/entities/base.entity.ts
  backend/vehicles/src/modules/company-user-management/company/profiles/company.profile.ts
  backend/vehicles/src/modules/company-user-management/pending-idir-users/profiles/pending-idir-user.profile.ts
  backend/vehicles/src/modules/company-user-management/pending-users/profiles/pending-user.profile.ts
  backend/vehicles/src/modules/company-user-management/users/profiles/user.profile.ts
  backend/vehicles/src/modules/company-user-management/users/users.service.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/payment/profile/transaction.profile.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  backend/vehicles/src/modules/permit/profile/application.profile.ts
  backend/vehicles/src/modules/permit/profile/permit.profile.ts
  backend/vehicles/src/modules/vehicles/power-units/profiles/power-unit.profile.ts
  backend/vehicles/src/modules/vehicles/trailers/profiles/trailer.profile.ts
Owners: @gchauhan-aot, @praju-aot

Test Case Updates, Spelling correction, DOPS API updates for new user DB fields
  backend/dops/src/modules/common/entities/base.entity.ts
  backend/dops/src/modules/dgen/dgen.service.ts
  backend/dops/src/modules/dms/dms.controller.ts
  backend/dops/src/modules/dms/dms.service.ts
  backend/dops/src/modules/dms/dto/base.dto.ts
  backend/vehicles/src/modules/common/dto/base.dto.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/vehicles/trailers/trailers.service.ts
  backend/vehicles/test/e2e/pending-idir-users.e2e-spec.ts
  backend/vehicles/test/e2e/power-units.e2e-spec.ts
  backend/vehicles/test/e2e/trailers.e2e-spec.ts
  backend/vehicles/test/unit/company/company.controller.spec.ts
  backend/vehicles/test/unit/company/company.service.spec.ts
  backend/vehicles/test/unit/pending-idir-users/pending-idir-users.controller.spec.ts
  backend/vehicles/test/unit/pending-idir-users/pending-idir-users.service.spec.ts
  backend/vehicles/test/unit/pending-users/pending-users.controller.spec.ts
  backend/vehicles/test/unit/pending-users/pending-users.service.spec.ts
  backend/vehicles/test/unit/power-units/power-units.controller.spec.ts
  backend/vehicles/test/unit/power-units/power-units.service.spec.ts
  backend/vehicles/test/unit/trailers/trailers.controller.spec.ts
  backend/vehicles/test/unit/trailers/trailers.service.spec.ts
  backend/vehicles/test/unit/users/company-users.controller.spec.ts
  backend/vehicles/test/unit/users/users.service.spec.ts
  backend/vehicles/test/util/mocks/data/base.mock.ts
Owners: @gchauhan-aot, @praju-aot

Changes for Permit Data table
  backend/vehicles/src/modules/permit/profile/application.profile.ts
  backend/vehicles/src/modules/permit/profile/permit.profile.ts
Owners: @gchauhan-aot, @praju-aot

Reverting changes in permit and payment apis
  backend/vehicles/src/modules/payment/payment.controller.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/payment/profile/transaction.profile.ts
  backend/vehicles/src/modules/permit/application.controller.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/permit.controller.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  backend/vehicles/src/modules/permit/profile/application.profile.ts
  backend/vehicles/src/modules/permit/profile/permit.profile.ts
Owners: @gchauhan-aot, @praju-aot

removing extra comma and brackets
  backend/vehicles/src/modules/company-user-management/users/users.service.ts
Owners: @gchauhan-aot, @praju-aot

Refactor permit review and payment components' code and styles
  frontend/src/common/helpers/formatDate.ts
  frontend/src/features/permits/apiManager/permitsAPI.ts
  frontend/src/features/permits/components/feeSummary/FeeSummary.tsx
  frontend/src/features/permits/hooks/hooks.ts
  frontend/src/features/permits/pages/Payment/PaymentRedirect.tsx
  frontend/src/features/permits/pages/TermOversize/TermOversizePay.scss
  frontend/src/features/permits/pages/TermOversize/TermOversizePay.tsx
  frontend/src/features/permits/pages/TermOversize/TermOversizeReview.tsx
  frontend/src/features/permits/pages/TermOversize/components/pay/ApplicationSummary.scss
  frontend/src/features/permits/pages/TermOversize/components/pay/ApplicationSummary.tsx
  frontend/src/features/permits/pages/TermOversize/components/pay/PermitPayFeeSummary.scss
  frontend/src/features/permits/pages/TermOversize/components/pay/PermitPayFeeSummary.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/PermitReview.scss
  frontend/src/features/permits/pages/TermOversize/components/review/PermitReview.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewActions.scss
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewActions.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewConditionsTable.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewContactDetails.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewFeeSummary.scss
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewFeeSummary.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewPermitDetails.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewVehicleInfo.tsx
  frontend/src/features/permits/pages/TermOversize/tests/helpers/TermOversizeReview/access.ts
  frontend/src/features/permits/types/payment.d.ts
Owners: @krishnan-aot

Refactor and consolidate permit types on the frontend
  frontend/src/features/permits/apiManager/permitsAPI.ts
  frontend/src/features/permits/components/dashboard/tests/integration/fixtures/getActiveApplication.ts
  frontend/src/features/permits/components/feeSummary/FeeSummary.tsx
  frontend/src/features/permits/components/form/ApplicationDetails.tsx
  frontend/src/features/permits/components/form/tests/ApplicationDetails.test.tsx
  frontend/src/features/permits/components/form/tests/helpers/ApplicationDetails/prepare.tsx
  frontend/src/features/permits/constants/constants.ts
  frontend/src/features/permits/helpers/getDefaultApplicationFormData.ts
  frontend/src/features/permits/helpers/mappers.ts
  frontend/src/features/permits/pages/Refund/RefundPage.tsx
  frontend/src/features/permits/pages/TermOversize/components/form/PermitForm.tsx
  frontend/src/features/permits/pages/TermOversize/components/form/VehicleDetails/customFields/SelectPermitType.tsx
  frontend/src/features/permits/pages/TermOversize/components/form/VehicleDetails/customFields/StartApplicationButton.tsx
  frontend/src/features/permits/pages/TermOversize/components/pay/ApplicationSummary.tsx
  frontend/src/features/permits/pages/TermOversize/components/pay/PermitPayFeeSummary.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/FeeSummaryBanner.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/PermitReview.tsx
  frontend/src/features/permits/pages/TermOversize/components/review/ReviewFeeSummary.tsx
  frontend/src/features/permits/pages/TermOversize/tests/TermOversizeReview.test.tsx
  frontend/src/features/permits/pages/Void/components/VoidPermitHeader.tsx
  frontend/src/features/permits/types/PermitType.ts
  frontend/src/features/permits/types/application.d.ts
  frontend/src/features/permits/types/permit.d.ts
Owners: @krishnan-aot

ORV2-1401 Clean up Payment Module
  backend/vehicles/src/common/enum/application-status.enum.ts
  backend/vehicles/src/common/enum/payment-method-type.enum.ts
  backend/vehicles/src/common/enum/transaction-type.enum.ts
  backend/vehicles/src/modules/payment/dto/common/payment-gateway-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/request/create-application-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/request/create-permit-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/request/create-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/request/read-payment-gateway-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-application-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-moti-pay-details.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-payment-gateway-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-permit-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-transaction.dto.ts
  backend/vehicles/src/modules/payment/entities/permit-transaction.entity.ts
  backend/vehicles/src/modules/payment/entities/transaction.entity.ts
  backend/vehicles/src/modules/payment/payment.controller.ts
  backend/vehicles/src/modules/payment/payment.module.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/payment/profile/permit-transaction.profile.ts
  backend/vehicles/src/modules/payment/profile/transaction.profile.ts
  backend/vehicles/src/modules/permit/dto/response/permit-history.dto.ts
  backend/vehicles/src/modules/permit/entities/permit.entity.ts
  backend/vehicles/src/modules/permit/permit.controller.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  backend/vehicles/src/modules/permit/profile/permit.profile.ts
  database/mssql/scripts/versions/v_4_ddl.sql
  database/mssql/scripts/versions/v_7_ddl.sql
Owners: @gchauhan-aot, @praju-aot, @john-fletcher-aot

Formatting
  backend/vehicles/src/modules/payment/payment.controller.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/payment/profile/transaction.profile.ts
  backend/vehicles/src/modules/permit/application.controller.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/permit.controller.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  backend/vehicles/src/modules/permit/profile/application.profile.ts
  backend/vehicles/src/modules/permit/profile/permit.profile.ts
Owners: @gchauhan-aot, @praju-aot

Remove unused redundant fee summary component
  frontend/src/features/permits/pages/TermOversize/components/review/FeeSummaryBanner.scss
  frontend/src/features/permits/pages/TermOversize/components/review/FeeSummaryBanner.tsx
Owners: @krishnan-aot

ORV2-1401 Issue permit
  backend/vehicles/src/common/interface/receipt.interface.ts
  backend/vehicles/src/modules/payment/dto/request/create-transaction.dto.ts
  backend/vehicles/src/modules/payment/dto/response/read-moti-pay-details.dto.ts
  backend/vehicles/src/modules/payment/entities/receipt.entity.ts
  backend/vehicles/src/modules/payment/entities/transaction.entity.ts
  backend/vehicles/src/modules/payment/payment.module.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/permit/application.controller.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/dto/request/issue-permit.dto.ts
  backend/vehicles/src/modules/permit/dto/request/void-permit.dto.ts
  backend/vehicles/src/modules/permit/permit.module.ts
  backend/vehicles/src/modules/permit/permit.service.ts
  database/mssql/scripts/versions/v_7_ddl.sql
Owners: @gchauhan-aot, @praju-aot, @john-fletcher-aot

Update documentation
  backend/vehicles/src/modules/payment/payment.controller.ts
  backend/vehicles/src/modules/payment/payment.service.ts
  backend/vehicles/src/modules/permit/application.controller.ts
  backend/vehicles/src/modules/permit/application.service.ts
  backend/vehicles/src/modules/permit/dto/request/issue-permit.dto.ts
Owners: @gchauhan-aot, @praju-aot

changed path name
  .github/workflows/pentests.yml
Owners: @cberg-aot

changed path name
  .github/workflows/pentests.yml
Owners: @cberg-aot
