Repository bcgov/onroutebc, pull requests merged in 2024-02, with the labels that each got.

#1153 ORV2-1941 Type consolidation in the frontend
  frontend/src/common/authentication/OnRouteBCContext.tsx
  frontend/src/common/authentication/types.ts
  frontend/src/common/components/banners/UserInfoBanner.tsx
  frontend/src/common/helpers/util.ts
  frontend/src/common/types/common.ts
  frontend/src/features/idir/company/IDIRCreateCompany.tsx
  frontend/src/features/idir/search/api/idirSearch.ts
  frontend/src/features/manageProfile/apiManager/hooks.ts
  frontend/src/features/manageProfile/apiManager/manageProfileAPI.tsx
  frontend/src/features/manageProfile/components/forms/myInfo/MyInfoForm.tsx
  frontend/src/features/manageProfile/components/forms/userManagement/EditUser.tsx
  frontend/src/features/manageProfile/components/forms/userManagement/UserAuthRadioGroup.tsx
  frontend/src/features/manageProfile/pages/AddUserDashboard.tsx
  frontend/src/features/manageProfile/pages/DisplayMyInfo.tsx
  frontend/src/features/manageProfile/pages/MyInfo.tsx
  frontend/src/features/manageProfile/pages/UserManagement.tsx
  frontend/src/features/manageProfile/types/UserManagementColumns.tsx
  frontend/src/features/manageProfile/types/manageProfile.d.ts
  frontend/src/features/manageProfile/types/userManagement.d.ts
  frontend/src/features/permits/apiManager/endpoints/endpoints.ts
  frontend/src/features/permits/apiManager/permitsAPI.ts
  frontend/src/features/permits/components/dashboard/tests/integration/fixtures/getActiveApplication.ts
  frontend/src/features/permits/components/dashboard/tests/integration/fixtures/getUserDetails.ts
  frontend/src/features/permits/components/dashboard/tests/integration/helpers/prepare.tsx
  frontend/src/features/permits/components/permit-list/ApplicationInProgressColumnDefinition.tsx
  frontend/src/features/permits/components/permit-list/ApplicationsInProgressList.tsx
  frontend/src/features/permits/components/permit-list/BasePermitList.tsx
  frontend/src/features/permits/helpers/getDefaultApplicationFormData.ts
  frontend/src/features/permits/helpers/mappers.ts
  frontend/src/features/permits/hooks/hooks.ts
  frontend/src/features/permits/pages/Amend/components/AmendPermitForm.tsx
  frontend/src/features/permits/pages/Amend/components/AmendPermitReview.tsx
  frontend/src/features/permits/pages/Amend/types/AmendPermitFormData.ts
  frontend/src/features/permits/pages/TermOversize/components/form/PermitDetails.tsx
  frontend/src/features/permits/pages/TermOversize/tests/helpers/TermOversizeReview/prepare.tsx
  frontend/src/features/permits/types/application.d.ts
  frontend/src/features/permits/types/permit.d.ts
  frontend/src/features/wizard/UserInfoWizard.tsx
  frontend/src/features/wizard/components/dashboard/ChallengeProfileSteps.tsx
  frontend/src/features/wizard/components/dashboard/CreateProfileSteps.tsx
  frontend/src/features/wizard/subcomponents/CompanyAndUserInfoSteps.tsx
Labels: dont review, dont merge

#1169 fix(ci): release-please
  .github/workflows/release-please.yml
Labels: bug, github_actions

#1173 fix(ci): keep working on release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
Labels: bug, github_actions

#1190 fix(ci): exclude release-please from deploy triggers
  .github/workflows/analysis.yml
  .github/workflows/deploys-test.yml
  .github/workflows/pr-validate.yml
  .github/workflows/release-please.yml
Labels: bug, github_actions

#1192 fix(ci): trigger prod deploy on file change
  .github/workflows/deploys-prod.yml
Labels: bug, github_actions

#1189 Feat: ORV2-1933 Update PayBC Redirection Flow
  frontend/src/features/permits/apiManager/endpoints/endpoints.ts
  frontend/src/features/permits/helpers/payment.ts
  frontend/src/features/permits/pages/Payment/PaymentRedirect.tsx
  vehicles/src/modules/payment/payment.service.ts
Labels: dont merge

#1206 feat(ci): shared pr-open workflow
  .github/workflows/pr-close.yml
Labels: github_actions

#1234 ORV2-1965 Delete Application In Progress Staff and CVClient
  database/mssql/scripts/versions/revert/v_18_ddl_revert.sql
  database/mssql/scripts/versions/v_18_ddl.sql
  vehicles/src/common/enum/application-status.enum.ts
  vehicles/src/common/helper/application.status.helper.ts
  vehicles/src/modules/permit/application.controller.ts
  vehicles/src/modules/permit/application.service.ts
  vehicles/src/modules/permit/dto/request/delete-application.dto.ts
Labels: dont merge
